<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  {% load staticfiles %}

<img src="{% static 'cv/img/logo.png' %}" alt="logo-est" style="width:200px;height:100px;">

<img src="{% static trabajador.foto.url %}" alt="Foto de {{trabajador.nombre}} {{trabajador.apellidop}} {{trabajador.apellidom}}">

<p><b>NOMBRE</b></br>
{{ trabajador.nombre}} {{trabajador.apellidop}} {{ trabajador.apellidom}}

<p><b>CARGO</b></br>
{{ trabajador.cargo}}

<p><b>AUTORIZADO</b></br>
{{ trabajador.nota}}

<p><b>ÁREA</b></br>
{{ trabajador.nota2}}

<p><b>CONTACTO SUPERVISOR DIRECTO</b></br>
{{trabajador.supervisor.nombre}} {{trabajador.apellidop}} {{trabajador.fono}}

<img src="{% static trabajador.qrimg.url %}" alt="QR de {{trabajador.nombre}} {{trabajador.apellidop}} {{trabajador.apellidom}}"/> 

</body>

</html> 
